<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 使用注解方式注入，配置项 -->
	<context:annotation-config />

	<!-- 自动扫描方式加入bean，配置项 -->
	<context:component-scan base-package="zju.lzq" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://szzfyftp.gotoftp5.com:3306/szzfyftp?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="user" value="szzfyftp"></property>
		<property name="password" value="e7w5m6"></property>
		<property name="minPoolSize" value="2"></property>
		<property name="maxPoolSize" value="20"></property>
		<property name="maxIdleTime" value="1800"></property>
		<property name="initialPoolSize" value="2"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>zju/lzq/entity/Address.hbm.xml</value>
				<value>zju/lzq/entity/AssessColumn.hbm.xml</value>
				<value>zju/lzq/entity/AssessItem.hbm.xml</value>
				<value>zju/lzq/entity/AssessTable.hbm.xml</value>
				<value>zju/lzq/entity/Contact.hbm.xml</value>
				<value>zju/lzq/entity/Contract.hbm.xml</value>
				<value>zju/lzq/entity/Department.hbm.xml</value>
				<value>zju/lzq/entity/Employee.hbm.xml</value>
				<value>zju/lzq/entity/Name.hbm.xml</value>
				<value>zju/lzq/entity/Performance.hbm.xml</value>
				<value>zju/lzq/entity/Position.hbm.xml</value>
				<value>zju/lzq/entity/Record.hbm.xml</value>
				<value>zju/lzq/entity/Score.hbm.xml</value>
				<value>zju/lzq/entity/StaPerf.hbm.xml</value>
				<value>zju/lzq/entity/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.format_sql=false
				hibernate.cache.use_second_level_cache=true
				hibernate.cache.use_query_cache=true
				hibernate.generate_statistics=true
				hibernate.cache.provider_class=net.sf.ehcache.hibernate.EhCacheProvider
			</value>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

</beans>
