<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- for Oracle -->
		<!--  
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.0.112:1521:orcl</property>
		<property name="hibernate.connection.username">lzq</property>
		<property name="hibernate.connection.password">3021</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
		-->
		
		<!-- for mysql -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://szzfyftp.gotoftp5.com:3306/szzfyftp?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">szzfyftp</property>
		<property name="hibernate.connection.password">e7w5m6</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.cache.use_second_level_cache">true</property> 
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property> 		  
		<property name="hibernate.generate_statistics">true</property> 
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<property name="hibernate.c3p0.max_size">10</property> 
		<property name="hibernate.c3p0.min_size">2</property> 
		<property name="hibernate.c3p0.timeout">5000</property>		
		  
		<mapping resource="zju/lzq/entity/Address.hbm.xml" />
		<mapping resource="zju/lzq/entity/AssessRow.hbm.xml" />
		<mapping resource="zju/lzq/entity/AssessItem.hbm.xml" />
		<mapping resource="zju/lzq/entity/AssessTable.hbm.xml" />
		<mapping resource="zju/lzq/entity/Contact.hbm.xml" />
		<mapping resource="zju/lzq/entity/Contract.hbm.xml" />
		<mapping resource="zju/lzq/entity/Department.hbm.xml" />
		<mapping resource="zju/lzq/entity/Person.hbm.xml" />
		<mapping resource="zju/lzq/entity/Name.hbm.xml" />
		<mapping resource="zju/lzq/entity/Performance.hbm.xml" />
		<mapping resource="zju/lzq/entity/Position.hbm.xml" />
		<mapping resource="zju/lzq/entity/Record.hbm.xml" />
		<mapping resource="zju/lzq/entity/Score.hbm.xml" />
		<mapping resource="zju/lzq/entity/StaPerf.hbm.xml" />
		<mapping resource="zju/lzq/entity/User.hbm.xml" />

	</session-factory>
</hibernate-configuration>